.container{
    display: flex;
    width: 100%;
    height: auto;
}

.container.dark{
    color: #d4d7d9;
}

.container.dark .votes i:hover{
    background: #444;
}

.container > *{
    padding: 1rem;
}

.main {
    width: 100%;
    overflow: hidden;
}

.votes{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
}

i{
    margin: 0 0.15rem;
}

.votes i{
    color: #878a8c;
    cursor: pointer;
    padding: 0.25rem;
}

.votes i:hover{
    background-color: rgb(226, 224, 224);
    color: tomato;
}

.votes i.down:hover{
    color: blue;
}

.info{
    display: flex;
    flex-direction: row;
}

.points, .time{
    margin: 0 0.2rem;
    font-size: 1.25rem;
    color: #555;
}
.time::before{
    content: ' \00B7  ';
}

.editedTime{
    font-style: italic;
}

.user{
    color: #4CAF50;
    margin-right: 0.35rem;
    text-decoration: none;
    font-size: 1.4rem;
}

.user:hover{
    text-decoration: underline;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
    word-wrap: break-word;
    width: 100%;
}

.actions{
    font-size: 1.3rem;
    margin-top: 0.3rem;
    display: flex;
}

.comment{
    color: #878a8c;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin-right: 0.275rem;
    border-radius: 3px;
    outline: none;

    text-decoration: none;
    padding: 0.5rem;
    padding-left: 0;
}

.comment:hover{
    background: rgb(226, 224, 224);
}

.btnEdit, .btnDelete{
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    margin: 0 0.25rem;
}

.btnEdit:hover{
    color: #fff;
    background-color: blue;
}
.btnEdit{
    color: blue;
}

.btnDelete{
    color: red;
}
.btnDelete:hover{
    background-color: red;
    color: #fff;
}

@media(max-width: 500px) {
    .container > *{
        padding: 0.5rem;
    }

    .actions{
        margin-top: 0.1rem;
    }
    .comment{
        padding: 0.25rem;
        padding-left: 0;
    }

    .btnEdit, .btnDelete{
        margin: 0;
    }
}