
.allSubs, .userSubs{
    background: #fff;
    margin: 2rem 0;
    padding: 0.5rem;
    border-radius: 3px;
    max-width: 100%;
}

.allSubs.dark, 
.userSubs.dark{
    background: #1a1a1b;
    color: #d7dadc;
}

.allSubs.dark .btn{
    background: #d7dadc;
    color: #000;
}


.allSubs.dark .sub, 
.userSubs.dark .sub{
    color: #d7dadc;
}

.head{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sub{
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0.3rem;
}
.sub:hover{
    text-decoration-line: underline;
}

.btn{
    background-color: #444e59;
    color: #fff;
    text-align: center;
    border: none;
    display: block;
    margin-top: 0.65rem;
    text-decoration: none;
    margin: 0.25rem 0;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.85;
    text-decoration: none;
}

@media(max-width: 650px) {
    .container {
        width: 99%;
        max-width: 530px;
    }
}