
.container{
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
}

.postform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 95%;
    margin: 5rem auto;
    padding: 3.25rem 2rem;
    font-size: 1.75rem;
    font-family: "Roboto";
    box-shadow: 0 0 13px 0 rgba(160, 131, 131, 0.13), 0 2px 3px 0 rgba(0, 0, 0, 0.24);
}

.container.dark{
    background-color: #111;
}

.postform.dark{
    background-color: #777;
    color: rgb(238, 236, 236);
}

.postform input, textarea {
    width: 100%;
    margin: 0.75rem 0;
    padding: 0.65rem;
    border: none;
    background-color: #f2f2f2;
}
label{
    text-align: left;
    width: 100%;
}

[contentEditable]:empty:before{
    content:attr(placeholder);
    color: #ccc;
    font-weight: bold;
}

[contentEditable=true]:hover{
    cursor: text;
}

[contentEditable=true]:focus{
    outline: none;
}

.postform input:focus {
    outline: 0.1px solid var(--color-primary);
}

.title, .body{
    padding: 0.75rem;
    width: 100%;
    border: 1px solid #ddd;
    margin: 0.5rem 0;
}

.body{
   min-height: 20rem;
}
.postform input[type='submit']{
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
}
.postform input[type='submit']:hover{
    background-color: var(--color-primary-dark);
}

.message a {
    color: var(--color-primary);
}

.inlineBtn{
    text-decoration: underline;
}

.inlineBtn:hover{
    text-decoration: none;
}
