.container{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 100%;
    flex: 1;
    background-color: #fff;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.container.dark, .container.dark .head{
    background-color: #1a1a1b;
    color: #d7dadc;
}

.container.dark button, .container.dark .btns a{
    background-color: #d7dadc;
    color: #1a1a1b;
}

.container > *{
    padding: 0.6rem;
}

.head{
    background-color: #444e59;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.container.dark .sub {
    color: #d7dadc;
}

.sub{
    color: #000;
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-size: 1.75rem;
}
.numOfUsers, .memberSince, .karma{
    font-size: 1.35rem;
}

.btns{
    display: flex;
    flex-direction: column;
}

.btns button, .btns a{
    background-color: #444e59;
    text-transform: capitalize;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    margin: 0.25rem 0;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
}
.btns button:hover, .btns a:hover{
    opacity: 0.85;
}

.btns .deleteBtn{
    border: 1px solid red;
    color: #000;
    background-color: #fff;
}

.btns .deleteBtn:hover{
    border: 1px solid red;
    color: #fff;
    background-color: red;
}