.container{
    width: 100%;
}

.posts{
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.firstpost{
    background-image: linear-gradient(white, green);
    color: #000;
    padding: 1rem;
    margin: 1rem 0;    
    display: block;
    width: 40%;
    text-align: center;
    text-decoration: none;
}

.noActivity{
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}