@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

:root {
    --color-primary: #4CAF50;
    --color-primary-dark: rgb(78, 158, 81);
}