.container{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    background: rgba(220, 226, 231, 0.5);
    border: 1px solid #7AA52F;
    
    box-shadow: -2px 2px 1px -2px #7AA52F;
    text-transform: uppercase;
}

.container.dark a{
    color: #eee;
    background-color: #444;
}

.container a:hover{
    box-shadow: 1px 2px 0px 1px #7AA52F;
}

@media(max-width: 500px){
    .container a{
        padding: 0.5rem;
    }
}

@media(max-width: 430px){
    .container a{
        font-size: 1.35rem;
    }
}
@media(max-width: 375px){
    .container a{
        font-size: 1.2rem;
    }
}
@media(max-width: 345px){
    .container a{
        font-size: 1.1rem;
        padding: 0.35rem;
    }
}