.showcase{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: blue;
    height: 70px;
    align-items: center;
}

.sub{
    color: #fff;
    font-size: 3rem;
    padding: 0.35rem;
    margin-left: 1rem;
    display: block;
    text-decoration: none;
}

.button{
    border: none;
    background-color: #fff;
    color: rgb(11, 141, 11);
    padding: 1.5rem;
    display: block;
    border-radius: 100%;
    z-index: 2;
}