.showcase{
    display: flex;
    background-color: blue;
    height: 70px;
    align-items: center;
}

.sub{
    color: #fff;
    font-size: 3rem;
    padding: 0.35rem;
    margin-left: 1rem;
    display: block;
    text-decoration: none;
}