.thread{
    border: 1px solid #edeff1;
    border-radius: 6px;
    flex: 4;
    background-color: #fff;
}

.line{
    height: 1px;
    width: 92%;
    background-color: #edeff1;
    margin: 1rem auto;
}